---
const { title, subtitle, lists } = Astro.props;
---
<section class="experience" data-aos="fade-up" data-aos-offset="150">
	<div id="experience" class="anchor"></div>
	<p class="section__text__p1">{subtitle}</p>
	<h2 class="title">{title}</h2>
	<div class="experience-details-container">
		<div class="about-containers">
			{lists.map((list: any) => (
				<div class="details-container">
					<h2>{list.title}</h2>
					<ul class="article-container">
						{list.skills.map((skill: {title: string; subtitle: string}) => (
							<li>
								<img
									src="assets/checkmark.png"
									alt="Experience icon"
									class="icon"
									width="100%"
									height="100%"
								/>
								<div>
									<h3>{skill.title}</h3>
									{skill.subtitle && <p>{skill.subtitle}</p>}
								</div>
							</li>
						))}
					</ul>
				</div>
			))}
		</div>
	</div>
	<img
		src="assets/arrow.png"
		alt="Arrow icon"
		class="icon arrow"
		onclick="location.href='#contact'"
		width="100%"
		height="100%"
	/>
</section>
